body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: #121212;
    padding: 110px 50px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    position: relative; 
}

.container h2 {
    text-align: center;
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.logo {
    width: 50px;
    margin-bottom: 8px;
    position: absolute; 
    top: 30px;
    left: 50%; 
    transform: translateX(-50%); 
}
    

.btn-google, .btn-facebook, .btn-apple {     
    width: 370px;  
    height: 50px;  
    margin: 10px auto; 
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px; 
    font-weight: bold; 
    background-color: transparent;
    border: 1px solid #a7a7a7;
    color: #FFFFFFE6;
}

.btn-google:hover, .btn-facebook:hover, .btn-apple:hover {
    border: 1px solid white; 
}

.btn-google .icon,
.btn-facebook .icon,
.btn-apple .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30px; 
}

.divider {
    width: 70%;
    height: 1px;  
    background-color: #a7a7a7;  
    margin: 50px auto;  
    opacity: 0.1;  
}

input {
    width: 100%; 
    max-width: 370px;
    height: 50px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #a7a7a7;
    color: #ffffff;
    padding: 10px; 
    box-sizing: border-box; 
}

input:hover {
    border: 1px solid white;
}

input:focus {
    border: 3px solid #1DB954; 
    outline: none; 
}

.email-conteiner, .password-container {
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 10px auto;
    text-align: left; 
    color: #FFFFFFE6;
    font-size: 14px;
    font-weight: bold;
}


.loginSpotify {
    width: 100%;
    width: 370px;  
    height: 50px;  
    margin: 10px auto; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px; 
    font-weight: bold; 
    background-color: transparent;
}

.loginSpotify:hover {
    transform: scale(1.05); 
}

.link-esqueci-senha {
    position: relative;
    top: 30px; 
    color: #fff;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
}


.link-esqueci-senha:hover {
    text-decoration: underline;
    color: #1DB954;
}

.link-inscreva-se {
    position: relative;
    top: 70px; 
    color: #a7a7a7;
    display: block;
    margin: 0 auto;
    text-decoration: none; 
}

.link-inscreva-se span {
    text-decoration: none; 
}

.link-inscreva-se strong {
    color: #fff;
    text-decoration: underline; 
}

.link-inscreva-se strong:hover {
    color: #1DB954; 
}


