@media (max-width: 768px) {
    body {
        padding: 10px;  /* Adiciona algum espaço nas laterais em telas pequenas */
    }

    .container {
        width: 100%;  /* Ajusta a largura do container para a tela */
        padding: 50px 20px;  /* Reduz o padding nas laterais */
    }

    .logo {
        width: 40px;  /* Reduz o tamanho do logo em telas pequenas */
        top: 20px;  /* Ajusta a posição do logo */
        left: 50%;  /* Garante que o logo fique centralizado */
        transform: translateX(-50%);  /* Mantém a centralização */
    }

    .container h2 {
        font-size: 24px;  /* Ajusta o tamanho do título */
        margin-top: 20px;  /* Dá um pouco mais de espaço entre o logo e o título */
    }

    .btn-google, .btn-facebook, .btn-apple, .loginSpotify {
        width: 100%;  /* Ajusta os botões para ocupar a largura total */
        max-width: 370px;  /* Garante que os botões não fiquem muito largos */
        margin: 10px 0;  /* Ajusta o espaçamento entre os botões */
    }

    .link-esqueci-senha, .link-inscreva-se {
        top: 20px;  /* Ajusta a posição vertical dos links */
        font-size: 14px;  /* Reduz o tamanho da fonte dos links */
    }

    .divider {
        width: 100%;  /* Ajusta a largura da linha divisória */
        margin: 30px 0;  /* Ajusta o espaçamento */
    }
}
